<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>PDF to Docx CONVERTER</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>
    <div class="container">
        <h1>PDF ⟶ DOCX</h>
    </div>
    <div class="Upload_File">
        <p>Upload PDF File Below</p>
        <div class="Upload_File_container">
            <!--Formate check : ONLY ALLOW PDF FILES-->
            <input type="file" id="pdfFile" multiple accept=".pdf">
        </div>
        <div id="selected_files"></div>
        <div id="cn_btn">
            <button id="convert_btn">Convert</button>
        </div>
        <p id="status"></p>
        <div id="download"></div>
        <div id="fileList">
        </div>
    </div>

    <!-- double curly braces =>  works as a python code in html  -- url_for tells the python flask to generate a url like static/script.js-->
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>

</html>